a {
  color: inherit;
}

body {
  font-family: 'Nunito Sans', sans-serif;
font-weight: bold;
color: /* #b20909; */ black 
}

div {
   /*border: 1px solid black; 
   color: #b20909; */
   
}

.header {
  display: flex;
  justify-content: space-evenly;
  
 gap: 20p;
  font-size: 2em;
  
}
.crest img {
 width: 75%;
 height: auto;
}
.name {
  display: flex;
  align-items: center;
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}



.navbar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 16px;
  overflow: hidden;
 
    
}

.hero {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2em;
}

.image-container {

}
.image-container img {
  width: 100%;
  height:auto
}
